<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div *ngIf="model && !report" class="padding20 white-bg example-container-sticky">
  <mat-toolbar color="primary">
    <span *ngIf="option == 'add'">เพิ่มฟอร์ม : <u>{{ model.name }}</u></span>
    <span *ngIf="option == 'edit'">แก้ไขฟอร์ม : <u>{{ model.name }}</u></span>
    <span class="example-spacer"></span>
    <!-- <button mat-flat-button color="primary" (click)="updateForm()">
      Add Form
    </button> -->
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side">
      <h4 style="font-size: 1.3vw;" style="text-align: center;">Select Fields</h4>
      <!--a draggable element-->
      <h5>User profile</h5>
      <!-- user profile -->
      <div class="fields" *ngFor="let item of profileAttr" layout="row" layout-align="center center">
        <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
          (dndEnd)="onDragEnd($event)">
          <i class="fa pull-left">
            <mat-icon style="font-size: 2vw;">{{ item.icon }}</mat-icon>
          </i>
          <h5 style="font-size: 1vw;"> {{ item.label }}</h5>
        </div>
      </div>
      <!-- custom fields -->
      <h5>Custom field</h5>
      <div class="fields" *ngFor="let item of fieldModels" layout="row" layout-align="center center">
        <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
          (dndEnd)="onDragEnd($event)">
          <i class="fa pull-left">
            <mat-icon style="font-size: 2vw;">{{ item.icon }}</mat-icon>
          </i>
          <h5 style="font-size: 1vw;"> {{ item.label }}</h5>
        </div>
      </div>
    </mat-sidenav>

    <!-- Start_FormTitle -->
    <div class="form-group" style="margin-bottom: 0px !important; padding: 30px 60px 5px 60px;">
      <mat-card>
        <div class="title-form">
          <mat-form-field class="example-full-width">
            <mat-label>Form Name</mat-label>
            <input matInput placeholder="{{ model.name }}" type="text" class="input-title" [(ngModel)]="model.name"
              required />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Form Description" [(ngModel)]="model.description" required></textarea>
          </mat-form-field>
          <p>Create by : {{ nameCreator }}</p>
        </div>
      </mat-card>
    </div>
    <!-- End_FormTitle -->

    <!--a dropzone-->
    <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
    <section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event, model.attributes)"
      class="dndDropArea" [ngClass]="{ empty: model.attributes.length == 0 }"
      style="margin-bottom: 0px !important; padding: 30px 60px 5px 60px; ">
      <div class="field" *ngFor="let item of model.attributes; let i = index" (dndStart)="onDragStart($event)"
        (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, model.attributes, 'move')"
        [dndEffectAllowed]="'all'" [dndDraggable]="item">

        <div class="row form-group" style="margin: auto;">
          <div class="col-1">
            <i class="material-icons" dndHandle matTooltip="Drag and Drop">drag_handle</i>
          </div>
          <div class="col-10">
            <i [ngClass]="item.icon" class="fa pull-left"></i>
            <div *ngIf="item.type == 'text'">
              <label style="text-align: left; align-items: left"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
              <br>
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="text" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>

            <div *ngIf="item.type == 'email'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="email" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'phone'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="text" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'number'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="number" id="{{ item.name }}"
                  min="{{ item.min }}" max="{{ item.max }}" placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'date'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="date" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'datetime-local'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="datetime-local" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'duration'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <input matInput disabled="{{item.readOnly? true: false}}" type="datetime-local" id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'time'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;"><input matInput disabled="{{item.readOnly? true: false}}"
                  type="time" id="{{ item.name }}" placeholder="{{ item.placeholder }}" />
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'textarea'">
              <label style="text-align: left;"><b>{{ item.label }}</b></label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-form-field style="width: 100% !important;">
                <textarea matInput id="{{ item.name }}" placeholder="{{ item.placeholder }}"></textarea>
              </mat-form-field>
            </div>
            <!-- <div *ngIf="item.type=='file'">
                <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                  class="text-danger">*</label>
              <br>
              <mat-form-field>  <input matInput type="file"  id="{{item.name}}" placeholder="{{item.placeholder}}">
              </mat-form-field>    <small class="form-text text-danger">(File can't be uploaded right now)</small>
              </div> -->
            <div *ngIf="item.type == 'paragraph'">
              <p class="form-text">{{ item.placeholder }}</p>
            </div>
            <div *ngIf="item.type == 'autocomplete'">
    
              <mat-form-field appearance="fill">
                <mat-label>{{ item.label }}</mat-label>
                <select matNativeControl required="item.required" style="width: 100% !important;">
                  <option *ngFor="let v of item.values" [value]="v.value">{{
                    v.label
                  }}</option>
                </select>
              </mat-form-field>
            </div>
            <div *ngIf="item.type == 'checkbox'">
              <label>{{ item.label }}</label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <mat-selection-list style="width: 100% !important;">
                <mat-list-option *ngFor="let v of item.values">
                  {{ v.label }}
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div *ngIf="item.type == 'radio'">
              <label>{{ item.label }}</label>
              <label *ngIf="item.required" class="text-danger">*</label>
    
              <label class="cust-check-bx">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                  [(ngModel)]="item.value">
                  <mat-radio-button class="example-radio-button" *ngFor="let v of item.values" [value]="v.label">
                    {{ v.label }}
                  </mat-radio-button>
                </mat-radio-group>
              </label>
    
            </div>

            <!-- <div *ngIf="item.type == 'button'">
              <button mat-button color="primary" (click)="submit()" id="{{ item.name }}" type="{{ item.subtype }}">
                {{ item.label }}
              </button>
            </div> -->
          </div>
          <div class="col-1">
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <i *ngIf="item.toggle" (click)="item.toggle = false"
              class="material-icons float-right">keyboard_arrow_up</i>
            <i *ngIf="!item.toggle" (click)="item.toggle = true" class="material-icons float-right"
              matTooltip="More info">keyboard_arrow_down</i>
            <button (click)="confirmDialog(i)" mat-icon-button aria-label="remove" class="float-right"
              matTooltip="Delete">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
          <div class="col-1"></div>
        </div>
        <!-- Start Require -->
        <div *ngIf="item.toggle" class="toggle-Wrapper"
          style="width: 70% !important; align-items: center; margin: auto;">
          <div class="form-group">
            <mat-slide-toggle color="warn" [(ngModel)]="item.required">
              Required
            </mat-slide-toggle>
            <span class="pull-right ucfirst">{{ item.type }}</span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field example-full-width">
              <mat-label>Label : </mat-label>
              <input matInput disabled="{{item.readOnly? true: false}}" type="text" [(ngModel)]="item.label">
              <button mat-button *ngIf="item.label" matSuffix mat-icon-button aria-label="Clear"
                (click)="item.label=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field example-full-width">
              <mat-label>Name : </mat-label>
              <input matInput disabled="{{item.readOnly? true: false}}" type="text" [(ngModel)]="item.name">
              <button mat-button *ngIf="item.name" matSuffix mat-icon-button aria-label="Clear" (click)="item.name=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field example-full-width">
              <mat-label>Placeholder : </mat-label>
              <input matInput disabled="{{item.readOnly? true: false}}" type="text" [(ngModel)]="item.placeholder">
              <button mat-button *ngIf="item.placeholder" matSuffix mat-icon-button aria-label="Clear"
                (click)="item.placeholder=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-form-field example-full-width">
              <mat-label>Regex : </mat-label>
              <input matInput type="text" [(ngModel)]="item.regex">
              <button mat-button *ngIf="item.regex" matSuffix mat-icon-button aria-label="Clear"
                (click)="item.regex=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div *ngIf="item.regex" class="form-group">
            <mat-form-field class="example-form-field example-full-width">
              <mat-label>Error Text: </mat-label>
              <input matInput disabled="{{item.readOnly? true: false}}" type="text" [(ngModel)]="item.errorText">
              <button mat-button *ngIf="item.errorText" matSuffix mat-icon-button aria-label="Clear"
                (click)="item.errorText=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- number -->
          <div *ngIf="item.type == 'number'" class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Min</label>
      
                <input matInput type="text" [(ngModel)]="item.min" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Max</label>
      
                <input matInput type="text" [(ngModel)]="item.max" />
              </div>
            </div>
          </div>

          <!-- radio || checkbox || autocomplete -->
          <div *ngIf="
              item.type == 'radio' ||
              item.type == 'checkbox' ||
              item.type == 'autocomplete'
            ">
            <div class="row">
              <div class="col-5">
                <div class="form-group">
                  <label>Label</label>
        
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label>Value</label>
        
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Action</label>
        
                </div>
              </div>
            </div>
            <div *ngFor="let i of item.values; let valueIndex = index" class="row">
              <div class="col-5">
                <div class="form-group">
                  <input matInput type="text" [(ngModel)]="i.label" />
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <input matInput type="text" [(ngModel)]="i.value" />
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label (click)="item.values.splice(valueIndex, 1)">remove</label>
        
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <div class="form-group">
                  <input matInput type="text" [(ngModel)]="value.label" />
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <input matInput type="text" [(ngModel)]="value.value" />
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label (click)="addValue(item.values)">Add</label>
        
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Require -->
      </div>

      <!--optional placeholder element for dropzone-->
      <!--will be removed from DOM on init-->
      <div class="dndPlaceholder" dndPlaceholderRef></div>
    </section>

    <div *ngIf="report" class="padding20 white-bg">
      <div class="row">
        <div class="col-12 btn-cont">
          <button mat-button color="primary" (click)="report = false" class="btn btn-primary">
            << Back </button> </div> <div class="col-12 spacer30">
        </div>
        <!-- if records found -->
        <div *ngIf="reports?.length > 0" class="col-12">
          <div *ngFor="let records of reports" class="report-block">
            <div *ngFor="let record of records.attributes">
              <div *ngIf="record.type != 'button' && record.type != 'paragraph'" class="row">
                <div class="col-4">{{ record.label }}</div>
                <div class="col-8">{{ record.value }}</div>
              </div>
            </div>
          </div>
          <!-- <pre>{{reports|json}}</pre> -->
        </div>
        <!-- if no records found -->
        <div *ngIf="reports?.length == 0" class="col-12 btn-cont">
          No response found
        </div>
      </div>
    </div>

    <!-- <pre *ngIf="model">{{model|json}}</pre> -->
    <div class="form-group" style="margin-bottom: 0px !important; padding: 30px 60px 5px 60px;">
      <div id="example-form" *ngIf="model" class="container marginT60 marginB30">
        <mat-card style="max-width: 70%; margin: auto;">
          <div class="row" style="padding: 30px;" [style.backgroundColor]="model.theme.bgColor"
            [style.color]="model.theme.textColor">
            <div class="col-12">
              <h2>{{ model.name }}</h2>
            </div>
            <div class="col-12">
              <h5>{{ model.description }}</h5>
            </div>
            <div *ngIf="success" class="col-12">
              <div class="form-group">
                <label>Your form has been submitted.</label>
              </div>
            </div>
            <form class="ftheme">
              <div *ngIf="!success" class="col-12">
                <div *ngFor="let item of model.attributes" class="form-group">
                  <div *ngIf="item.type == 'text'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
            
                      <input matInput disabled="{{item.readOnly? true: false}}" type="text" id="{{ item.name }}"
                        placeholder="{{ item.placeholder }}" style="width: 100% !important;" />
                    </mat-form-field>
                  </div>

                  <div *ngIf="item.type == 'email'">
                    <label>{{ item.label }}</label><label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="email" id="{{ item.name }}"
                        placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'phone'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="text" id="{{ item.name }}"
                        placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'number'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="number" id="{{ item.name }}"
                        min="{{ item.min }}" max="{{ item.max }}" placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'date'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="date" id="{{ item.name }}"
                        placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'datetime-local'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="datetime-local"
                        id="{{ item.name }}" placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'duration'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="datetime-local"
                        id="{{ item.name }}" placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'time'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <input matInput disabled="{{item.readOnly? true: false}}" type="time" id="{{ item.name }}"
                        placeholder="{{ item.placeholder }}" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'textarea'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-form-field style="width: 100%;">
                      <textarea readonly="{{item.readOnly? true: false}}" matInput id="{{ item.name }}" placeholder="{{ item.placeholder }}"></textarea>
                    </mat-form-field>
                  </div>
                  <!-- <div *ngIf="item.type=='file'">
                  <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                    class="text-danger">*</label>
                <br>
                <mat-form-field>  <input matInput disabled="{{item.readOnly? true: false}}" type="file"  id="{{item.name}}" placeholder="{{item.placeholder}}">
                </mat-form-field>    <small class="form-text text-danger">(File can't be uploaded right now)</small>
                </div> -->
                  <div *ngIf="item.type == 'paragraph'">
                    <p class="form-text">{{ item.placeholder }}</p>
                  </div>
                  <div *ngIf="item.type == 'autocomplete'">
          
                    <mat-form-field appearance="fill">
                      <mat-label>{{ item.label }}</mat-label>
                      <select readonly="{{item.readOnly? true: false}}" matNativeControl required="item.required" style="width: 100%;">
                        <option *ngFor="let v of item.values" [value]="v.value">{{
                      v.label
                    }}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item.type == 'checkbox'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <mat-selection-list disabled="{{item.readOnly? true: false}}" style="width: 100%;">
                      <mat-list-option *ngFor="let v of item.values">
                        {{ v.label }}
                      </mat-list-option>
                    </mat-selection-list>
                  </div>
                  <div *ngIf="item.type == 'radio'">
                    <label>{{ item.label }}</label>
                    <label *ngIf="item.required" class="text-danger">*</label>
          
                    <label class="cust-check-bx">
                      <mat-radio-group disabled="{{item.readOnly? true: false}}" aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [(ngModel)]="item.value">
                        <mat-radio-button class="example-radio-button" *ngFor="let v of item.values" [value]="v.label">
                          {{ v.label }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </label>
          
                  </div>

                  <div *ngIf="item.type == 'button'">
                    <button mat-button color="primary" (click)="submit()" id="{{ item.name }}"
                      type="{{ item.subtype }}">
                      {{ item.label }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
    <button class="extended-fab-button" mat-fab color="primary" (click)="updateForm()">
      <mat-icon>assignment</mat-icon>
      <span *ngIf="option == 'add'" class="extended-fab-button__text">Add Form</span>
      <span *ngIf="option == 'edit'" class="extended-fab-button__text">Edit Form</span>
    </button>
  </mat-sidenav-container>
</div>
