<div class="container">
  <div class="header">
    <h1 *ngIf="auth.UidAdmin">ฟอร์มสำหรับผู้ดูเเลระบบสร้างเพื่อนำเข้าข้อมูลจากผู้ใช้</h1>
    <h1 *ngIf="!auth.UidAdmin">ฟอร์มนำเข้าข้อมูลจากผู้ใช้</h1>
  </div>
  
  <div class="col-md-4" *ngIf="auth.UidAdmin; then AdminSortBlock else UserSortBlock"></div>
  
  <div class="sort-form">
    <ng-template #AdminSortBlock>
      <div class="optionQuery">
      <form [formGroup]="myForm" class="search-box">
        <mat-form-field>
          <mat-select id="queryOption" formControlName="queryOption" placeholder="เรียงลำดับโดย">
            <mat-option value="name">ชื่อ</mat-option>
            <mat-option value="createDate">วันที่สร้าง</mat-option>
            <mat-option value="editDate">วันที่แก้ไขข้อมูล</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="button-sort" (click)='sortByAdmin()' mat-raised-button color="primary"><span class="material-icons">
            sort_by_alpha
          </span></button>
      </form>
    </div>
    </ng-template>

    <ng-template #UserSortBlock>
      <form [formGroup]="myForm">
        <mat-form-field class="optionQuery">
          <mat-select id="queryOption" formControlName="queryOption" placeholder="เรียงลำดับโดย">
            <mat-option value="titleForm">ชื่อ</mat-option>
            <mat-option value="Date">วันที่สร้าง</mat-option>
            <mat-option value="editDate">วันที่แก้ไขข้อมูล</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)='sortByUser()' mat-raised-button color="primary"><span class="material-icons">
          sort_by_alpha
        </span></button>
      </form>
    </ng-template>

  </div>
    
  <div class="section">
    <section>
      <cdk-virtual-scroll-viewport appScrollable (scrollPosition)="scrollHandler($event)" style="height: 1000px;"
        itemSize="100">
        <div>
          <div fxLayout="row wrap" fxLayout.lt-sm="column" class="row-wrap-center">
            <ng-container class="cardList" *cdkVirtualFor="let form of page.data | async">
              <mat-card class="mat-card">
                
                <div *ngIf="auth.UidAdmin; then AdminBlock else UserBlock"></div>
                <ng-template #AdminBlock>
                    <mat-card-header>
                  <mat-card-title class="text-card-title">
                    {{ form.name? form.name:'' }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{ form.displayNameData }}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="padding:1em;">
                  <!-- <p><b>Shorten URL : </b>{{ form.FormShortedURL }}</p> -->
                  <!-- <p><b>Slug : </b>{{ form.NameShortURL }}</p> -->
                  <p>
                    <b>วันที่สร้าง :</b>
                    {{ (form.createDate?form.createDate:this.ngOnInit()).toDate() | date:'dd/MM/yyyy h:mm:ss a' }}
                  </p>
                  <p>
                    <b>วันที่แก้ไข :</b>
                    {{ form.editDate? (form.editDate.toDate() | date:'dd/MM/yyyy h:mm:ss a'): '' }}
                  </p>
                  <!-- <p>{{ form.docId }}</p> -->
                </mat-card-content>
                  <mat-card-actions style="padding: 1em;" align="end">
                    <button mat-stroked-button color="primary" [routerLink]="['/view/viewDetailFormImport', {'formID':form.id}]">
                      <span class="material-icons">
                        content_paste
                      </span> กรอกฟอร์ม
                    </button>
                    <button mat-stroked-button color="warn" [routerLink]="['/adminImportData', {'option': 'edit', 'formID': form.id}]">
                      <span class="material-icons">
                        edit
                      </span> แก้ไข
                    </button>
                    <button mat-stroked-button color="warn" [routerLink]="['/CreateTemplate', {'option': 'add', 'formID': form.id}]">
                      <span class="material-icons">
                        settings_system_daydream
                      </span> CreateTemplate
                    </button>
                    <button mat-stroked-button color="warn" [routerLink]="['/CreateTemplate', {'option': 'edit', 'formID': form.id}]">
                      <span class="material-icons">
                        settings_system_daydream
                      </span> EditTemplate
                    </button>
                    <button mat-stroked-button color="warn" [routerLink]="['/view/CreateFlex', {'option': 'edit', 'formID': form.id}]">
                      <span class="material-icons">
                        settings_system_daydream
                      </span> CreateFlex
                    </button>
                    <div fxFlex></div>
                  </mat-card-actions>
                </ng-template>

                <ng-template #UserBlock>
                  <mat-card-header>
                  <mat-card-title class="text-card-title">
                    {{ form.titleForm? form.titleForm:'' }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{ form['Display form name'] }}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="padding:1em;">
                  <!-- <p><b>Shorten URL : </b>{{ form.FormShortedURL }}</p> -->
                  <!-- <p><b>Slug : </b>{{ form.NameShortURL }}</p> -->
                  <p>
                    <b>วันที่ :</b>
                    {{ (form.Date?form.Date:this.ngOnInit()).toDate() | date:'dd/MM/yyyy h:mm:ss a' }}
                  </p>
                  <p>
                    <b>วันที่แก้ไข :</b>
                    {{ form.editDate? (form.editDate.toDate() | date:'dd/MM/yyyy h:mm:ss a'): '' }}
                  </p>
                  <!-- <p>{{ form.docId }}</p> -->
                </mat-card-content>
                  <mat-card-actions style="padding: 1em;" align="end">
                    <button mat-stroked-button color="primary" [routerLink]="['/FillOutForm', {'option':'read', 'formID':form.formID, 'formDataID': form.id}]">
                      <span class="material-icons">
                        content_paste
                      </span> ดูรายละเอียด
                    </button>
                    <div fxFlex></div>
                  </mat-card-actions>
                </ng-template>
              </mat-card>
            </ng-container>
          </div>
          <!-- <p *ngIf="page.done | async">สิ้นสุด</p> -->
          <div class="loader">
            <app-loading-spinner *ngIf="page.loading | async"></app-loading-spinner>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </section>
  </div>
</div>

<button *ngIf="auth.UidAdmin" class="extended-fab-button" mat-fab color="primary" [routerLink]="['/adminImportData', {'option': 'add'}]">
  <mat-icon>assignment</mat-icon>
  <span class="extended-fab-button__text">Create Form</span>
</button>
