<div mat-dialog-content>
  <p *ngIf="data.position; else elsebox"></p>
  <ng-template #elsebox>
    {{data.Cur.Name}}
    <div *ngIf="data.Cur.Name === 'carousel'">
      <p>bubble</p>
    </div>    
    <div *ngIf="data.Cur.Name === 'header'">
      <p>box</p>
    </div>    
    <div *ngIf="data.Cur.Name === 'hero'">
      <p>box</p>
      <p>image</p>
    </div>       
    <div *ngIf="data.Cur.Name === 'footer'">
      <p>box</p>
    </div>    
  </ng-template>
  <!-- <mat-form-field>
    <input matInput placeholder="Node Name" [(ngModel)]="data.Name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="4" placeholder="Node Description" [(ngModel)]="data.Description"></textarea>
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()" style="position: relative;right: 15px;">
    No Thanks
  </button>
  <button mat-stroked-button color="primary" [disabled]="!(data.Name || data.Description)"
    [mat-dialog-close]="{nodeName: data.Name, nodeDescription: data.Description}"
    style="position: relative;left: 20px;">
    {{data.Component}}
  </button>
</div>